$main-color: #3a4574;
$main-color-hover: #262c4b;
$support-color: #d3b47f;
$light-color: #ffffff;
$dark-color: #000000;
$mid-color: #808080;
$under-color: #e7e7e7;
$extra-dark: #2E2E2E;
$border-color: #CCCCCC;

$tablet: 1200px;
$mobile: 1024px;
$mobile-xs: 576px;